/* Common Styles and Utilities */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap');

body{
    font-family: 'Poppins', sans-serif;
    margin: 0;
    background-color: #F3F1FF;
}
.container{
    width:1160px ;
}
/* Header Part  */
.container-default{
  display: flex;
  justify-content: center;
  align-items: center;
}
header{
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #2D25A0;

  margin-bottom: 70px;
  
}
.header-part{
  display: flex;
  flex-direction: column;
}
.up-header{
  display: flex;
  justify-content: space-between;
  margin-top: 21px;
}
.navbar ul li{
  list-style: none;
  display: inline-block;
  margin-right: 36px;
  
}
.navbar ul li a {
  font-size: 16px;
  text-decoration: none;
  color: #fff;
}
.right img{
width: 556.01px;
height: 438px;
margin-top: 49px;
margin-bottom: 86px;  
}
.right img:hover{
   
    transform: scale(1.1) skew(-15deg);
    transition: transform 2s ease-in-out;
}

.login-icon{
  display: flex;
  justify-content: flex-end;
  align-items: center;
  
}
.fa-sign-in-alt{
  margin-right: 8px;
}
.link-btn{
  text-decoration: none;
  color: #fff;
  padding: 10px 24px;
  background: #E02C6D;
}
.link-btn:hover{
    background-color: rgb(51, 51, 105);
}

.below-header{
  display: flex;
  justify-content: space-between;
}
.left{
    margin-left: 20px;
}
.left h1{
  color: #fff;
  font-weight: bold;
  font-size: 64px;
  margin-bottom: 27px;
  margin-top: 121px;
}
.left a{
  margin-top: 27px;
}
.fa-arrow-right{
  margin-left: 8px;
}
/* -----Main part  
----------- */
main{
    display: flex;
    flex-direction: column
}
/* Player section  */
.player-card{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 27px 30px;
    margin: 0 180px;
}
.players{
    border: 5px solid white;
    border-radius: 10px;
    box-shadow: 0px 0px 40px rgba(0, 0, 0, 0.15);
}
.player img{
    width: 300px;
    height: 256px;
    padding: 5px;
    overflow: hidden;
}
.player-details {
    width: 300px;
    height: 154px;
    padding: 5px;
}
.player-detail h2{
    font-size: 28px;
}
/* highlights section  */
.highlight-part{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    column-gap: 69px;
    margin-top: 165px;
}
.highlight-info{
    width: 489px;
    height: 309px;
    text-align: center;
}
.highlight-info h3{
font-size: 48px;
font-weight: 700;
margin: 0;
}
.match-image{
    margin-left: 66px;
}
.match-image img{
    width: 567px;
    width: 427px;
}
.watch-btn{
    margin: 0;
}
/* Image Gallary  */

.gallary-part{
    display: flex;
    justify-content: center;
    text-align: center;
}
.gallary-title{
    font-size: 48px;
}
.photo-album{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
}

.photo-frame {
    width: 300px;
    height: 200px;
    border: 2px solid white;
    position: relative;
    border-radius: 10px;
    margin: 15px;
    overflow: hidden;

}

.photo img {
    width: 100%;
}

.photo-details {
    display: none;
    position: absolute;
    width: 300px;
    top: 0;
    color: white;
}

.photo-details h3 {
    color: white;
    text-align: center;
}

.photo-frame:hover .photo-details {
    display: block;
}

.photo-frame:hover .photo {
    transform: scale(1.5);

    transition: transform 2s ease-in-out;
}
/* subscribe  */
.subscribe {
    text-align: center;
    margin-bottom: 50px;
    margin-top: 100px;
}
.input-type input {
    padding: 15px 3px;
    border: 2px solid #ccc;
    margin-left: 5px;
}
.subscribe-title {
    border: 3px solid black;
    border-radius: 2px;
    padding: 8px;
    margin-left: 2%;
    text-decoration: none;
}
.subscribe-title:hover{
    background-color: rgb(25, 160, 25);
    border: 3px solid green;
    color: #fff;
}
/* footer style  */
footer{
    margin-top: 158px;
    text-align: center;
}
.footer-image img{
    width: 484px;
    height: 110px;
}   
.social-logo .filled{
    display: inline-block;
    width: 50;
    height: 32px;
    font-size: 32px;
    border-radius: 100%;
}
.social-logo .filled:hover{
    color: rgb(9, 9, 78);
}

/* Media Query  */
/* mobile device  */
@media only screen and (max-width:668px) {

    body{
        overflow-x: hidden;
    }
    .container{
        width: 100%;
    }
    .header-part{
        display: flex;
        flex-direction: column;
        margin: 21px;
    }
    .below-header{
        flex-direction: column;
    }
    .login-icon a{
        display: flex;
    }
    .left h1{
        font-size: 36px;
        color: #fff;
        font-weight: bold;
        margin-bottom: 30px;
        margin-top: 100px;
    }
    .right{
        display: flex;
        justify-content: center;
    }
    .right img{
        width: 329px;
        height: 259.17px;

    }
    .player-card, .photo-album, .highlight-part{
        grid-template-columns: repeat(1, 1fr);
    }
    .container-default{
        flex-direction: column;
    }
    .highlight-info h3{
        font-size: 30px;
        font-weight: 700;
        margin: 0;
    }
    .highlight-info{
        
        margin-bottom: 0px;
    }
    .match-image img{
        width: 328px;
        height: 248px;
    }
    .gallary-info h1{
        font-size: 30px;
    }
    .subscribe .input-type {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

}
/* For tablet device  */

    @media only screen and (min-width: 688px) and (max-width: 992px){
        body{
            overflow-x: hidden;
        }
    .container{
        width: 100%;
    }
    .player-card, .photo-album{
        grid-template-columns: repeat(2, 1fr);
        align-items: center;
    }
    .highlight-part{
        grid-template-columns: repeat(1, 1fr);
    }
    .login-icon a{
        display: flex;
    }
    .right img{
        width: 329px;
        height: 259.17px;

    }
    .left h1{
        font-size: 36px;
        color: #fff;
        font-weight: bold;
        margin-bottom: 30px;
        margin-top: 100px;
    }
    .highlight-info h3{
        font-size: 30px;
        font-weight: 700;
    }
    .highlight-info{
        width: 329px;
        height: 299px;
        padding: 15px;
    }
    .match-image img{
        display: inline-block;
        width: 328px;
        height: 248px;
        margin-right: 5opx;
    }
    .subscribe .input-type {
        display: flex;
        flex-direction: column;
    }
}
